<% layout('layout') -%>

<section class="ftco-section ftco-cart" style="padding-top: 100px;">
        <div class="" id="about" style="background-color: #C49B63; margin: auto; width:60%; margin-top:10%;">
                <div style="margin-left:4%; margin-right: 4%;">
                        <h1 style="color:#EDF5E1; padding-top:3%; ">Something about me: -</h1>
                        <p style="color:#EDF5E1; padding-bottom: 4%">Hello!, I am Anmol Kansal. I'm currently studying in Netaji Subhash University of Technology Delhi 
                            (Batch - 2021). Apart from web development, I also love programming. I know C, C++ and Python. 
                            For web development, I use HTML, CSS, Javascript, NodeJS. You can contact me at my <a style="color:#EDF5E1; text-decoration: underline;" href="https://www.linkedin.com/in/anmol-kansal-b67a12148/">linkedin profile</a>.
                        </p>
                </div>
            </div>
</section>